/NewFolder/q2.X/nbproject/private/
/NewFolder/q2.X/build/default/
/NewFolder/q2.X/dist/default/
/lab1/lab1.X/nbproject/private/
/lab1/lab1.X/build/default/
/lab1/lab1.X/dist/default/
/lab1/test.X/nbproject/private/
/lab1/test.X/build/default/
/lab1/test.X/dist/default/
/lab1/xor.X/nbproject/private/
/lab1/xor.X/build/default/